/*Стили для адаптивного дизайна, чтобы ваш сайт корректно отображался на различных устройствах.*/

/* ====== Home ======= */
/* Media query for tablets */
@media (max-width: 768px) {
    section#home {
        flex-direction: column;
        text-align: center;
    }

    section#home figure {
        align-items: flex-start;
    };

    section#home p {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    section#home img {
        width: 25%;
        margin: 5% 0 0 0;
    }

    .IconContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cv-figcaption {
        margin: 0.8em 0 0 0;
        font-size: .85em;
        opacity: .7;
        width: 92%;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    h1 {
        text-align: center;
        font-size: larger;
    }

    section#home {
        flex-direction: column;
        text-align: center;
    }

    section#home img {
        width: 25%;
    }

    .iconContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .iconContainer > *:not(:last-child) {
        margin-right: 0px;
    }

    section#contact {
        justify-content: center;
    }

    .myProjectsTitle {
        position: absolute;
        left: 37%;
    }
    .cv-figcaption {
        margin: 0.8em 0 0 0;
        font-size: .85em;
        opacity: .7;
        width: 92%;
    }
}

@media (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: larger;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    form {
        width: 90%;
        padding: 15px;
    }

    form input[type="submit"] {
        width: 100%;
    }

    .myProjectsTitle {
        position: absolute;
        left: 37%;
    }

   .cv-figcaption {
        margin: 0.8em 0 0 0;
        font-size: .85em;
        opacity: .7;
        width: 92%;
    }
}
}