/*Стили для адаптивного дизайна, чтобы ваш сайт корректно отображался на различных устройствах.*/

/* ====== Home ======= */
/* Media query for tablets */
@media (max-width: 768px) {
    section#home {
        flex-direction: column;
        text-align: center;
    }

    section#home figure {
        align-items: flex-start;
    }

    section#home p {
        margin-right: 0;
        margin-bottom: 2rem;
        text-align: end;
        letter-spacing: 1.3px;
        word-spacing: 1px;
    }

    section#home img {
        width: 25%;
        margin: 15% 0 0 0;
    }

    .IconContainer {
        display: flex;
        margin-right: 0;
        align-items: center;
        flex-direction: row;
    }

    .cv-figcaption {
        margin: 0.8em 0 0 0;
        font-size: .85em;
        opacity: .7;
        width: 92%;
    }
    h1 {
        text-align: center;
        font-size: larger;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    form {
        width: 90%;
        padding: 15px;
    }

    form input[type="submit"] {
        width: 100%;
    }

    .myProjectsTitle {
        position: absolute;
        left: 37%;
    }

}
/* Media query for mobile devices */
@media (max-width: 480px) {
    h1 {
        text-align: center;
        font-size: larger;
    }

    section#home {
        flex-direction: column;
        text-align: center;
    }

    section#home img {
        width: 28%;
        float: right;
        text-align: left;
        margin: 5% 5% 5% 5%;
    }
    figure figcaption {
        margin: 0.8em 0 0 0;
        font-size: .85em;
        opacity: .7;
        width: 95%;
    }
    section#home figure {
        display: inline-block;
    }

    .iconContainer {
        display: flex;
        margin-right: 0;
        align-items: center;
        flex-direction: row;
    }

    .iconContainer > *:not(:last-child) {
        margin-right: 0px;
    }

    section#contact {
        justify-content: center;
    }

    .myProjectsTitle {
        position: absolute;
        left: 37%;
    }

    .cv-figcaption {
        margin: 0.8em 0 0 0;
        font-size: .85em;
        opacity: .7;
        width: 92%;
    }
    .iconContainer a>img {
        width: 70%;
    }
    .iconContainer a {
        
    }
}
